@charset "UTF-8";
body {
	color: #42413b;
	font-size: 87.5%; /* 14px */
	line-height: 1.57; /* 22px */
	-webkit-font-smoothing: antialiased;
}
h1,h2,h3 {
	color: #3E3D38;
	font-weight: bold;
    letter-spacing: -1px;
}